<h1>Tags#index</h1>
<div class="col-md-8">
  <% @tags.each do |tag| %>
    <% if tag.wikis.count > 0 %>
      <div class="media">
        <div class="media-body">
          <strong>
            <%= link_to tag.tag, tag %>
          </strong><br/>
          <small>
            <em>Total Wikicount: <%= tag.wikis.count %></em><br/>
            <% tag.wikis.each do |wiki| %>
              <!--QUESTION:  Does this sort of logic belong in a view?-->
              <% if current_user && (current_user.level?(:premium) || current_user.level?(:admin)) %>
                <%= link_to wiki.title, wiki %>
                Private?  <%= wiki.private %><br/>
              <% else %>
                <% if wiki.private == false %>
                  <%= link_to wiki.title, wiki %>
                  Private?  <%= wiki.private %><br/>
                <% end %>
              <% end %>
            <% end %>
          </small>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
