<%= link_to 'Tags#Index', tags_path, class: 'btn btn-primary' %><br/>
<h1>Tags#show</h1>
<h3><%= @tag.tag %></h3>
<p>List of wikis associated with a tag</p>
<em> Total Wikicount:  <%= @tag.wikis.count %><br/><br/></em>
<small>
  <% @wikis.each do |wiki| %>

    <!-- I want this to be a shared partial but don't know how to handle local variables inside an each block--> 
    <% if current_user && (current_user.level?(:premium) || current_user.level?(:admin)) %>
      <%= link_to wiki.title, wiki %>
    <% else %>
      <% if wiki.private == false %>
        <%= link_to wiki.title, wiki %>
      <% end %>
      Private?  <%= wiki.private %><br/>
    <% end %>


  <% end %>
</small>
<hr/>