<div class="col-md-8">
  <h1>Wikis#Index</h1>
  <% if policy(@wikis).create? %>
    <%= link_to 'Wikis#New', new_wiki_path, class: 'btn btn-primary' %>
  <% end %>
  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
        <p>
          Private?  <%= wiki.private %>
        </p>
        <small>
          <% wiki.tags.each do |t| %>
            <%= link_to t.tag, t %>
          <% end %>
        </small>
      </div>
    </div>
  <% end %>
</div>

<div class="col-md-4">
  <p>All tags</p>
  <small>
    <!-- QUESTION:  repeats elsewhere, could pull this out into a helper method? -->
    <% if current_user && (current_user.level?(:premium) || current_user.level?(:admin)) %>
      <% @tags.each do |t| %>
        <%= link_to t.tag, t %> Wikicount: <%= t.wikis.count %><br/>
      <% end %>
    <% else %>
      <% @public_tags.uniq.each do |t| %>
        <%= link_to t.tag, t %> Wikicount: <%= t.wikis.count %><br/>
      <% end %>
    <% end %>
  </small>
</div>
