<h1>All Wikis</h1>
<hr/>
<div class="col-md-8"> 
  <%= form_tag wikis_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search!" %>
    </p>
  <% end %>

  <%= will_paginate @wikis, class: 'pull-right' %> 
  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to (markdown wiki.title), wiki %>
        </h4>
        <p>
          <%= wiki.description %>
        </p>
        <small>
          <% wiki.tags.each do |t| %>
            <%= link_to t.tag, t, class: 'pr' %>
          <% end %>
        </small>
      </div>
    </div>
    <hr/>
  <% end %>
  <%= will_paginate @wikis, class: 'pull-right' %>
</div>
<div class="col-md-4">
  <%if policy(@wikis_array).create? %>
    <%= link_to 'Create a New Wiki', new_wiki_path, class: 'btn btn-primary' %>
    <br/>
    <br/>
  <% end %>
  <h5 class="uline">Associated tags:</h5>
  <small>
    <% @tags.each do |t| %>
      <%= link_to t.tag, t, class: 'uline' %><br/> 
    <% end %>
  </small>
</div>
