<h1>Wikis#Index</h1>
<hr/>
<div class="col-md-8">  
  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
        <p>
          <%= wiki.description %>
        </p>
        <small>
          <% wiki.tags.each do |t| %>
            <%= link_to t.tag, t %>
          <% end %>
        </small>
      </div>
    </div>
    Private?  <%= wiki.private %>
    <hr/>
  <% end %>
</div>
<div class="col-md-4">
  <% if policy(@wikis).create? %>
    <%= link_to 'Create a New Wiki', new_wiki_path, class: 'btn btn-primary' %>
  <% end %>
  <br/>
  <br/>
  <h5 class="uline">Accessible tags:</h5>
  <small>
    <% @tags.uniq.each do |t| %>
      <%= link_to t.tag, t %> Wikicount: <%= t.wikis.count %><br/>
    <% end %>
  </small>
</div>
