<%= link_to 'Back to Wikis#Index', wikis_path, class: 'btn btn-primary'%>
<h1><%= @wiki.title %></h1>
<hr/>
<div class="col-md-8">
  <p><%= @wiki.body %></p>
</div>
<div class="col-md-4">
  <% if policy(@wiki).edit? %>
    <%= link_to 'Edit this Wiki', edit_wiki_path, class: 'btn btn-primary' %><br/>
  <% end %>
  <br/>
  <br/>
  <strong>Tags:</strong><br/>
  <% if @tags.count == 0 %>
    <small><em>This wiki has not been tagged</em></small>
  <% else %>
    <% @tags.each do |x| %>
      <%= link_to x.tag, x, class: 'pr' %>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <% if @wiki.private %>
    <strong>Owner:</strong><br/>
    <%= link_to @wiki.owner.name, @wiki.owner %>
    <br/>
    <br/>
    <strong>Collaborators:</strong><br/>
    <% if @wiki.users.count == 0 %>
      <small><em>This wiki has no collaborators</em></small>
    <% else %>
      <% @wiki.users.each do |w| %>
        <%= link_to w.name, w %><br/>
      <% end %>
    <% end %>
  <% end %>
  <hr/>
  <% if policy(@wiki).destroy? %>
    <%= link_to "Delete this Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
  <% end %>
</div>

