<h1><%= @wiki.title %></h1>
<small>
  <%= @wiki.description %><br/>
  <%= p "This wiki has not been tagged" if @tags.count == 0 %>
  <% @tags.each do |x| %>
      <%= link_to x.tag, x %>
  <% end %>
</small>
<hr/>
<p><%= @wiki.body %></p>
